body { background: #3ffc0e; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 24px; display: flex; }
.block-sms-0 { color: #3c35f; font-size: 16px; margin-bottom: 5px; }
.block-logger-1 { color: #1885e1; font-size: 17px; margin-bottom: 5px; }
.block-session-2 { color: #483079; font-size: 15px; margin-bottom: 5px; }
.block-logger-3 { color: #216f90; font-size: 15px; margin-bottom: 5px; }
.block-invoice-4 { color: #f0a6e6; font-size: 20px; margin-bottom: 5px; }